.App{

}
.app-holder{
  display: flex;
  flex-direction: row;
  /* background-color: antiquewhite; */
  width: 100vw;
  min-height: 100vh;
  
}
.app-lpanel{
  flex: 1;
  overflow: auto;
}
.app-editor{
  flex:2;
  overflow: auto;
}
.app-baseurl{
  width: 50%;
  margin: 1rem;
}

button{
  cursor: pointer;
}